.DS_Store
__pycache__/
*.pyc
.ipynb_checkpoints/
.venv/
venv/
outputs/
data/raw/
*.log
CLAUDE.md
_to_delete/
escritos/
data/base_limpia.csv
data/blp_agentes.csv
data/blp_productos.csv
output/
code/BLP.py
code/TP1_IO_Empirica3.ipynb